/*------------------------------
Component: Accordion
------------------------------*/

.accordion__list {}

	.accordion__item {

		margin: 0 0 1em 0;

	}

		.accordion__summary {

			padding: 1em;
			@include arial-bold;
			color: $color-base-white;
			background: $color-brand-light-blue;
			border-radius: 12px;
			cursor: pointer;

		}

		.accordion__details {

			margin: 1em 0 1.5em 0;

		}