/*------------------------------
Component: Button
------------------------------*/

.button {}

	.button__link {

		display: inline-block;
		padding: 1em;
		color: $color-base-white;
		background: $color-brand-light-blue;
		border-radius: 12px;

		&:hover {

			color: $color-base-white;

		}

	}