/*------------------------------
Component: Hero
------------------------------*/

.hero {

	// position: relative;

	// display: flex;
	// justify-content: center;
	// position: relative;
	// left: 50%;
	// right: 50%;
	// width: 100vw;
	// height: 500px;
	// margin: 0 -50vw 2em -50vw;
	// background: pink;
	// overflow: hidden;

}

.location__section--welcome .hero {

	position: relative;

	&:after {

		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		// background: pink;
		background: linear-gradient(to right, rgba($color-brand-light-blue, 0), $color-brand-light-blue);
		mix-blend-mode: overlay;
		mix-blend-mode: color;
		z-index: 1;

	}

}

	.hero__img {

		// max-width: none;
		border-radius: 5px;

	}

		.hero__overlay {

			// display: none;
			position: absolute;
			bottom: 0;
			width: 100%;
			// padding: 0 2.50em;
			// background: pink;
			z-index: 5;

		}

			.hero__inner-overlay {

				width: 100%;
				max-width: 1150px;
				margin: 0 auto;
				// background: pink;

			}

				.hero__text {

					position: relative;
					left: 48px;
					font-size: 5rem;
					line-height: 0.58;
					@include arial-bold;
					text-transform: uppercase;
					text-align: left;
					color: $color-base-white;

				}