/*------------------------------
Component: Testimonial
------------------------------*/

.testimonial {

	display: flex;
	align-items: center;
	margin: 3em 0 0 0;
	padding: 3.0em;
	border-top: 2px solid $color-brand-light-blue;
	border-bottom: 2px solid $color-brand-light-blue;

}

	.testimonial__illustration {}

		.testimonial__svg {}

			.testimonial__bubble {

				fill: $color-brand-light-blue;

			}

			.testimonial__apostrophes {

				fill: $color-base-white;

			}

	.testimonial__blockquote {

		margin: 0;
		padding: 0 0 0 5.0em;

		p {

			font-size: 1.5rem;
			line-height: 1.25;
			@include arial-regular-italic;

			&:last-of-type {

				margin: 0;

			}

		}

	}