/*------------------------------
Component: Tools
------------------------------*/

.tools {}

	.tools__list {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		margin: 0;
		padding: 0;
		list-style: none;

	}

		.tools__item {

			margin: 0 1.25em 0 0;
			@include arial-bold;
			text-transform: uppercase;

			&:last-of-type {

				margin: 0;

			}

		}

			.tools__link {

				&:hover {}

			}

		.tools__item--urgent-help {

			.tools__link {

				color: $color-brand-green;

				&:hover {}

			}

		}

		.tools__item--make-a-referral {

			.tools__link {

				&:hover {}

			}

		}