/*------------------------------
Component: Tools
------------------------------*/

.tools {}

	.tools__list {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		margin: 0;
		padding: 0;
		list-style: none;

	}

		.tools__item {

			margin: 0 1.25em 0 0;
			font-size: 1rem;
			@include arial-bold;
			text-transform: uppercase;

			&:last-of-type {

				margin: 0;

			}

		}

			.tools__link {

				&:before {

					position: relative;
					top: 5px;
					content: "";
					display: inline-block;
					width: 24px;
					height: 24px;
					margin: 0 0.5em 0 0;
					// background-color: darken(pink, 10%);
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 24px;

				}

				&:hover {}

			}

		.tools__item--urgent-help {

			.tools__link {

				color: $color-brand-green;

				&:before {

					background-image: url(../img/icon-exclamation.svg);

				}

				&:hover {}

			}

		}

		.tools__item--make-a-referral {

			.tools__link {

				&:before {

					background-image: url(../img/icon-calendar.svg);

				}

				&:hover {

					color: $color-brand-light-blue;

				}

			}

		}