/*------------------------------
Footer
------------------------------*/

.footer {

	padding: 0 1.25em;
	background: pink;

}

	.footer__wrap {

		width: 100%;
		max-width: 1160px;
		margin: 0 auto;
		background: darken(pink, 5%);

	}