/*------------------------------
Header
------------------------------*/

.header {

	padding: 0 2.50em;
	// background: pink;

}

	.header__wrap {

		position: relative;
		width: 100%;
		max-width: 1150px;
		height: 120px;
		margin: 0 auto;
		// padding: 1.25em 0;
		// background: darken(pink, 15%);
		border-bottom: 2px solid $color-brand-light-blue;

	}

		.logo {

			// Custom positioning for header.

			.header & {

				position: absolute;
				left: 0;
				top: 14px;
				z-index: 1;

			}

		}

			.logo__link {}

				.logo__svg {

					// Custom sizing for header.

					.header & {

						width: 290px;

					}

				}

		.nhs {

			// Custom positioning for header.

			.header & {

				position: absolute;
				top: 14px;
				right: 0;
				z-index: 1;

			}

		}

			.nhs__link {}

				.nhs__svg {

					// Custom sizings for header.

					.header & {

						width: 112px;

					}

				}

		.tools {

			// Custom positioning for header.

			.header & {

				position: absolute;
				left: 0;
				bottom: 16px;
				z-index: 1;

			}

		}

			.tools__list {}

				.tools__item {}

					.tools__link {}

		.navigation {

			position: absolute;
			right: 0;
			bottom: 12px;
			z-index: 1;

		}

			.navigation__toggle {}

				.navigation__label {}

			.navigation__list {}

				.navigation__item {}

					.navigation__link {

						&:hover {}

					}

				.navigation__item--is-current {

					.navigation__link {

						&:hover {}

					}

				}