/*------------------------------
Main
------------------------------*/

.main {

	padding: 0 2.50em;
	// background: pink;

}

	.main__wrap {

		position: relative;
		width: 100%;
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 0 2em 0;
		// background: darken(pink, 5%);

	}

		.subnavigation {}

		.location__section {

			display: none;

		}

		.location__section--is-visible {

			display: block;

		}

			.page__header {

				font-size: 2.25rem;

			}

			.page__header--is-overlay {

				position: absolute;
				left: 0;
				top: 1em;
				color: $color-base-white;
				z-index: 1;

			}

			.section__header {}

			// Subheader

			.subheader {

				margin-top: 0.65em;
				// background: pink;

			}

/* Urgent Help Page (need to re-work) */

.help {

	display: flex;
	justify-content: space-between;
	margin: 2em 0 0 0;
	// background: pink;

}

	.help__topic {

		width: calc(50% - 1em);
		padding: 2em;

	}

		.help__header {

			font-size: 2.25rem;

			.help__topic--urgent & {

				color: $color-brand-green;

			}

		}

		.help__overview {

			.is-green {

				color: $color-brand-green;
	
			}
	
			.is-purple {
	
				color: $color-brand-purple;
	
			}

		}

		.help__options {}

			.help__list {

				margin: 0;
				padding: 0;
				list-style: none;

			}

				.help__item {

					margin: 0 0 2em 0;

					&:last-of-type {

						margin: 0;

					}

				}

					.help__name {

						font-size: 1rem;
						margin: 0;

					}

					.help__phone {

						@include arial-bold;
						color: $color-brand-light-blue;

					}

					.help__availability {}

					.help__description {

						margin: 1em 0 0 0;

						.help__topic--other & {

							margin: 0;

						}

					}

	.help__topic--urgent {

		// background: orange;
		box-shadow: 3px 3px 10px rgba($color-brand-dark-blue, 0.35);

	}

	.help__topic--other {

		// background: yellow;

	}