/*------------------------------
Main
------------------------------*/

.main {

	padding: 0 2.50em;
	// background: pink;

}

	.main__wrap {

		width: 100%;
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 0 2em 0;
		// background: darken(pink, 5%);

	}

		.subnavigation {}

		.location__section {

			display: none;

		}

		.location__section--is-visible {

			display: block;

		}

			.section__header {}

			// Subheader

			.subheader {

				margin-top: 0.65em;
				// background: pink;

			}