/*------------------------------
Main
------------------------------*/

.main {

	padding: 0 1.25em;
	background: pink;

}

	.main__wrap {

		width: 100%;
		max-width: 1150px;
		margin: 0 auto;
		background: darken(pink, 5%);

	}