/*------------------------------
Home
------------------------------*/

.home__contents {

	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 1.5em 0;

}

	.tree {

		width: 50%;
		padding: 0 2em 0 0;
		// background: pink;

	}

		.tree__svg {}

	.home__content {

		width: 50%;
		padding: 2em;
		// background: yellow;
		box-shadow: 3px 3px 10px rgba($color-brand-dark-blue, 0.35);

	}

		.home__header {

			margin: 0;
			padding: 0;
			font-size: 1.75rem;
			color: $color-brand-light-blue;

		}

		.home__sub {

			margin: 0 0 1em 0;
			font-size: 1.25rem;
			color: $color-brand-light-blue;

		}