/*------------------------------
Location
------------------------------*/

.subnavigation {}

	.subnavigation__toggle {}

		.subnavigation__label {}

	.subnavigation__list {}

		.subnavigation__item {}

			.subnavigation__link {}

.location__section {

	position: relative;

}

	.section__header {

		position: absolute;
		left: 0;
		top: 1em;
		color: $color-base-white;
		z-index: 1;

	}

	.section__overview {}