/*------------------------------
Location
------------------------------*/

.subnavigation {}

	.subnavigation__toggle {}

		.subnavigation__label {}

	.subnavigation__list {}

		.subnavigation__item {}

			.subnavigation__link {}

.location__section {

	position: relative;

}

.location__section--welcome {}
.location__section--problems-we-help-with {}
.location__section--how-we-can-help-you {}
.location__section--groups-and-workshops {}
.location__section--outreach-and-community-work {}
.location__section--resources {}
.location__section--faqs {}
.location__section--contact-us {}

	.intro {

		display: flex;
		align-items: center;
		margin: 0 0 2em 0;
		// background: pink;

	}

		.intro__hero {

			width: 50%;
			// background: orange;

		}

		.intro__text {

			width: 50%;
			padding: 0 0 0 3em;
			// background: blue;

		}

	.section__header {}

	.section__header--is-overlay {

		// position: absolute;
		// left: 0;
		// top: 1em;
		// color: $color-base-white;
		// z-index: 1;

	}

	.section__overview {

		.location__section--contact-us & {}

		h3 {

			.location__section--contact-us & {

				@include arial-regular;

			}

			span {

				.location__section--contact-us & {

					color: $color-brand-light-blue;

				}

			}

		}

		p {

			&:last-of-type {}

		}

	}

/* Outreach Buttons */

.outreach__buttons {}

	.outreach__buttons-list {

		justify-content: center;

	}

		.outreach__button-item {

			width: 200px;

		}

		.outreach__button-link {

			display: block;
			text-align: center;
			border-radius: 50px;

			span {

				display: block;

			}

		}

	.h-card {

		display: flex;

	}

		.h-card__geo {

			width: 50%;
			// background: pink;

		}

			.h-card__iframe {}

		.h-card__meta {

			width: 50%;
			padding: 0 0 0 120px;
			color: $color-brand-light-blue;
			// background: pink;

		}

			.p-name {

				position: relative;
				margin: 0;
				@include arial-regular;
				color: $color-brand-light-blue;

				&:before {

					content: "";
					position: absolute;
					left: -80px;
					top: 0;
					width: 60px;
					height: 60px;
					background: url(../img/icon-pin.svg) center center no-repeat;
					z-index: 1;

				}

				span {

					color: $color-brand-purple;

				}

			}

			.p-adr {}

				.p-street-address {}

				.p-extended-address {}

				.p-locality {}

				.p-region {}

				.p-postal-code {}

			.h-card__hours {

				margin: 1em 0 0 0;

			}

				.h-card__subheader {

					margin: 0;
					@include arial-regular;
					color: $color-brand-light-blue;

				}

				.h-card__content {

					p {

						margin: 0;

						&:last-of-type {}

					}

				}

			.p-tel {

				position: relative;
				margin: 2em 0 0 0;

				&:before {

					content: "";
					position: absolute;
					left: -80px;
					top: 50%;
					width: 60px;
					height: 60px;
					margin-top: -30px;
					background: url(../img/icon-phone.svg) center center no-repeat;
					z-index: 1;

				}

				a {

					&:hover {}

				}

			}

			.u-email {

				position: relative;
				margin: 3em 0 0 0;

				&:before {

					content: "";
					position: absolute;
					left: -80px;
					top: 50%;
					width: 60px;
					height: 60px;
					margin-top: -30px;
					background: url(../img/icon-email.svg) center center no-repeat;
					z-index: 1;

				}

			}

				.u-email__link {}

			.u-referral {

				margin: 3em 0 0 0;

			}

				.u-referral__link {}

	.contact__note {

		margin: 2em 0 0 0;
		padding: 2em 0 0 0;
		border-top: 2px solid $color-brand-light-blue;
		// background: pink;

		.buttons {

			margin: 1em 0 0 0;

		}

		.contact__note-details {

			margin: 1em 0 0 0;

		}

	}

	.contact__other-locations {

		margin: 2em 0 0 0;
		padding: 2em 0 0 0;
		border-top: 2px solid $color-brand-light-blue;

	}